*{margin: 0;
padding: 0;
}

.cabeçalho{
    background-color: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
    color: crimson;
    .foto{
        width: 20%;
    }
}
.braços{
    background-color: aqua;
    color: deeppink;
    width: 50%;
}